In [1]:
import pandas as pd

tweets = pd.read_csv('tweets_v1.4.csv', index_col = False)

In [2]:
tweets = tweets.drop(columns = ['Unnamed: 0','filtered'], axis = 1)

In [3]:
states = [("AL","Alabama"),("AK","Alaska"),("AZ","Arizona"),("AR","Arkansas"),("CA", "California"),("CO", "Colorado"),
("CT","Connecticut"),("DC","Washington DC"),("DE","Delaware"),("FL","Florida"),("GA","Georgia"),
("HI","Hawaii"),("ID","Idaho"),("IL","Illinois"),("IN","Indiana"),("IA","Iowa"),("KS","Kansas"),("KY","Kentucky"),
("LA","Louisiana"),("ME","Maine"),("MD","Maryland"),("MA","Massachusetts"),("MI","Michigan"),("MN","Minnesota"),
("MS","Mississippi"),("MO","Missouri"),("MT","Montana"),("NE","Nebraska"),("NV","Nevada"),("NH","New Hampshire"),
("NJ","New Jersey"),("NM","New Mexico"),("NY","New York"),("NC","North Carolina"),("ND","North Dakota"),("OH","Ohio"),
("OK","Oklahoma"),("OR","Oregon"),("PA","Pennsylvania"),("RI","Rhode Island"),("SC","South Carolina"),("SD","South Dakota"),
("TN","Tennessee"),("TX","Texas"),("UT","Utah"),("VT","Vermont"),("VA","Virginia"),("WA","Washington"),("WV","West Virginia"),
("WI","Wisconsin"),("WY","Wyoming")]


for each in states:
    for i, row in tweets.iterrows():
        if each[0] == row['location']:
            tweets.loc[i, 'location'] = each[1]

In [4]:
# some states coverted from abbreviates, some states are right from the beginning. convert them into the same format
tweets['location'] = tweets['location'].str.lower().str.capitalize()

In [9]:
tweets['location'].unique()

array(['Texas', 'North carolina', 'Florida', 'California', 'Ohio',
       'Virginia', 'Washington', 'Tennessee', 'Arkansas', 'Kentucky',
       'New york', 'Utah', 'Arizona', 'Maryland', 'Oregon', 'Nevada',
       'Washington dc', 'Michigan', 'Maine', 'New jersey', 'Nebraska',
       'Illinois', 'Colorado', 'South carolina', 'Missouri',
       'South dakota', 'Iowa', 'Massachusetts', 'Minnesota', 'Hawaii',
       'Pennsylvania', 'Georgia', 'North dakota', 'Indiana', 'Wisconsin',
       'Connecticut', 'New mexico', 'Oklahoma', 'Mississippi',
       'Louisiana', 'New hampshire', 'Idaho', 'West virginia', 'Wyoming',
       'Kansas', 'Alaska', 'Alabama', 'Delaware', 'Rhode island',
       'Montana', 'Vermont'], dtype=object)

In [10]:
tweet_grouped = tweets.groupby(['location', 'date'], as_index = False).agg({'text': ' '.join})

In [11]:
tweet_grouped.groupby(['location','date']).agg({"text": ' '.join})

                                                                   text
location  date
Alabama   2020-02-12  I JUST remembered that this baseball season do...
          2020-02-26  Y all this may be my favorite bar for bar albu...
          2020-02-27  Alabama coach Nick Saban gets green light to c...
          2020-04-02  No coach has cared more about his players thro...
          2020-05-13  Willful ignorance re coronavirus has to be the...
...                                                                 ...
Wisconsin 2020-09-05  It looks like we won t have coronavirus number...
          2020-09-27  Covid 19 pandemic poses many challenges to LGB...
          2020-10-15  A pandemic does not excuse you from your job o...
Wyoming   2020-09-03  What can the AMA or any other medical organiza...
          2020-09-21  Get ready for a TrumpHerpes i e COVID 19 outbr...

[1942 rows x 1 columns]

In [12]:
from textblob import TextBlob

In [13]:
tweet_grouped['polarity'] = 0
tweet_grouped['subjectivity'] = 0

In [14]:
tweet_grouped

,location,date,text,polarity,subjectivity
0,Alabama,2020-02-12,I JUST remembered that this baseball season do...,0,0
1,Alabama,2020-02-26,Y all this may be my favorite bar for bar albu...,0,0
2,Alabama,2020-02-27,Alabama coach Nick Saban gets green light to c...,0,0
3,Alabama,2020-04-02,No coach has cared more about his players thro...,0,0
4,Alabama,2020-05-13,Willful ignorance re coronavirus has to be the...,0,0
...,...,...,...,...,...
1937,Wisconsin,2020-09-05,It looks like we won t have coronavirus number...,0,0
1938,Wisconsin,2020-09-27,Covid 19 pandemic poses many challenges to LGB...,0,0
1939,Wisconsin,2020-10-15,A pandemic does not excuse you from your job o...,0,0
1940,Wyoming,2020-09-03,What can the AMA or any other medical organiza...,0,0
1941,Wyoming,2020-09-21,Get ready for a TrumpHerpes i e COVID 19 outbr...,0,0

In [15]:
for index, row in tweet_grouped.iterrows():
    
    ts = TextBlob(row['text']).sentiment
    tweet_grouped.loc[index, 'polarity'] = ts.polarity
    tweet_grouped.loc[index, 'subjectivity'] = ts.subjectivity

In [16]:
tweet_grouped

,location,date,text,polarity,subjectivity
0,Alabama,2020-02-12,I JUST remembered that this baseball season do...,0.000000,0.000000
1,Alabama,2020-02-26,Y all this may be my favorite bar for bar albu...,0.246667,0.460000
2,Alabama,2020-02-27,Alabama coach Nick Saban gets green light to c...,-0.035714,0.555952
3,Alabama,2020-04-02,No coach has cared more about his players thro...,0.250000,0.562500
4,Alabama,2020-05-13,Willful ignorance re coronavirus has to be the...,0.000000,0.000000
...,...,...,...,...,...
1937,Wisconsin,2020-09-05,It looks like we won t have coronavirus number...,-0.068182,0.454545
1938,Wisconsin,2020-09-27,Covid 19 pandemic poses many challenges to LGB...,0.005556,0.344444
1939,Wisconsin,2020-10-15,A pandemic does not excuse you from your job o...,0.012500,0.058333
1940,Wyoming,2020-09-03,What can the AMA or any other medical organiza...,0.125000,0.291667
1941,Wyoming,2020-09-21,Get ready for a TrumpHerpes i e COVID 19 outbr...,0.200000,0.300000

In [17]:
tweet_grouped.to_json('tweets_v1.4.json', orient='records', lines=True)

In [18]:
tweet_grouped.to_csv('tweets.v1.4.csv', index = False)